
p{
    font-family: Roboto;
    font-size: 14px;
    font-family: arial;
}
.title{
    font-size: 18px;
    width: 300px;
    font-weight: bold;
    line-height: 20px;
    
    margin-top: 10px;
}
.stats{
  
    color: gray;
}
.author{
    
    color: gray;
}
.content{
    width: 300px;
  
    color: gray;
    line-height: 20px;
}
.apple{
    margin-top: 70px;
    background-color: red;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
}
.shop{
    transition: text-decoration 1s;
    cursor: pointer;
}
.shop:hover{
    text-decoration: underline;
    font-weight: bold;
}